<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <%- include('./partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

    <!-- MAIN -->
    <main>
      <form action='/createMember' method='post' id='formNewDataMembers' name='formNewDataMembers' enctype='multipart/form-data' class='formNewDataMembers'>

<!------------------------------ SECTION 0 WELCOME ------------------------------>
        <!--CONTENIDO MODAL WELCOME-->
        <div class="modalWelcome" id="modalWelcome">
          <div class="contenedorWelcome">
            <div class="contenidoWelcome">

              <!--SECTION WELCOME-->
              <section class='welcome' id='welcome'>
                <div class="bakcgroundImage">
                  <img src="/images/portada.png" alt="portada">
                
                  <div class="containerWelcome">
                    <!--MENSAJE BIENBENIDA-->
                    <div class="bienvenida">
                      <h2>¡Hola!</h2>
                      <h1>Bienvenido/a a la página de actualización de datos de la Alameda</h1>
                    </div>

                    <!--ADELANTE/ATRÁS-->
                    <div class='btnBoxWelcome'>
                      <div class='btn' id='btnWelcomeContinue'>
                        <a href="#modalPersonal"><h3>CONTINUAR</h3></a>
                      </div>
                    </div>
                  </div>
                </div>
              
    
              </section>
            </div>
          </div>
        </div>

<!------------------------------ SECTION 1 PERSONAL ------------------------------>
        <!--CONTENIDO MODAL PERSONAL-->
        <div class="modalPersonal" id="modalPersonal">
          <div class="contenedorPersonal">
            <article class="header">
              <h2 class="encabezadoPersonal">Actualización de datos</h2>
              <img src="/images/header1.png" alt="header1">
            </article>
            <div class="contenidoPersonal">
              
              <!--SECTION PERSONAL-->
              <section class='personal' id='personal'>

                <h2>Personal</h2>

                <!--NOMBRE-->
                <div class='text'>
                  <input type='text' name='firstName' id='firstName' class= 'inputText' placeholder='Nombre'  maxlength='50' value="<%= locals.oldData ? oldData.firstName : null %>">
                  
                  <div class="textDanger" id="firstNameErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.firstName) { %>
                      <samp class="textDanger">
                      <%= errors.firstName.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>

                <!--APELLIDO-->
                <div class='text'>
                  <input type='text' name='lastName' id='lastName' class= 'inputText' placeholder='Apellido'   maxlength='50' value="<%= locals.oldData ? oldData.lastName : null %>">
                  
                  <div class="textDanger" id="lastNameErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.lastName) { %>
                      <samp class="textDanger">
                      <%= errors.lastName.msg %>
                      </samp>
                    <% } %>
                  </div> 
                </div>

                <!--NACIMIENTO-->
                <div class='date'>
                  <div class='paragrph'>
                    <h4>Fecha de nacimiento</h4>
                  </div>

                  <div class='dateLabel'>
                    <input type='date' name='dateOfBirthAt' id='dateOfBirthAt' class='input-date' min="1900-01-01" max="2022-12-31" >   
                  </div>

                  <div class="textDanger" id="dateOfBirthAtErr"></div>
                </div>

                <!--GENERO-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>Genero:</h4>
                  </div>

                  <div class='insideLabelRow'>
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='sex' class='sex' id='sexHombre' value='hombre'<%= locals.oldData && oldData.sex == 'sexHombre' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>H</strong></p></div>
                    </div>

                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='sex' class='sex' id='sexMujer' value='mujer'<%= locals.oldData && oldData.sex == 'sexMujer' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>M</strong></p></div>
                    </div>
                    
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='sex' class='sex' id='sexNoContesta' value='noContesta'<%= locals.oldData && oldData.sex == 'sexNoContesta' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>N/C</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="sexErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.sex) { %>
                      <samp class="textDanger">
                      <%= errors.sex.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>

                <!--SITUACION RELACIONAL-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>Situación relacional:</h4>
                  </div>

                  <div class='insideLabelColumn'>
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='radio' name='relationalSituation' class="relationalSituation" id='relationalSituationSoltero' value='soltero'<%= locals.oldData && oldData.relationalSituation == 'soltero' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Soltero/a</strong></p></div>  
                    </div>
                    
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='radio' name='relationalSituation' class="relationalSituation" id='relationalSituationEnPareja' value='enPareja'<%= locals.oldData && oldData.relationalSituation == 'enPareja' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>En pareja</strong></p></div>  
                    </div>

                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='radio' name='relationalSituation' class="relationalSituation" id='relationalSituationCasado' value='casado'<%= locals.oldData && oldData.relationalSituation == 'casado' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Casado/a</strong></p></div>  
                    </div>

                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='radio' name='relationalSituation' class="relationalSituation" id='relationalSituationViudo' value='viudo'<%= locals.oldData && oldData.relationalSituation == 'viudo' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Viudo/a</strong></p></div>  
                    </div>

                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='radio' name='relationalSituation' class="relationalSituation" id='relationalSituationDivorciado' value='divorciado'<%= locals.oldData && oldData.relationalSituation == 'divorciado' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Divorciado/a</strong></p></div>  
                    </div>

                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='radio' name='relationalSituation' class="relationalSituation" id='relationalSituationOtro' value='otro'<%= locals.oldData && oldData.relationalSituation == 'otro' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Otra</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="relationalSituationErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.relationalSituation) { %>
                      <samp class="textDanger">
                      <%= errors.relationalSituation.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>

                <!--ADELANTE/ATRÁS-->
                <div class='btnBox'>
                  <div class='btn' id='btnPersonalBack'>
                    <a href="#modalPersonal"><h3>ATRÁS</h3></a>
                  </div>

                  <div class='btn' id='btnPersonalContinue'>
                    <a href="#modalPersonal"><h3>CONTINUAR</h3></a>
                  </div>
                </div>


              </section>
      
            </div>
          </div>
        </div>

<!------------------------------ SECTION 2 FAMILY ------------------------------>
        <!--CONTENIDO MODAL FAMILY-->
        <div class="modalFamily" id="modalFamily">
          <div class="contenedorFamily">
            <article class="header">
              <h2 class="encabezadoPersonal">Actualización de datos</h2>
              <img src="/images/header2.png" alt="header2">
            </article>
            <div class="contenidoFamily">
              
              <!--SECTION-->
              <section class='family' id='family'>

                <h2>Familia</h2>
              
                <!--CONVIVENCIA-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Con quien vives?</h4>
                  </div>
              
                  <div class='insideLabelColumn' id="coexistenceSituationDiv">
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' class='coexistenceSituation' id='coexistenceSituationPapa' value='papa'<%= locals.oldData && oldData.coexistenceSituation == 'papa' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Papá</strong></p></div>
                    </div>
              
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' class='coexistenceSituation' id='coexistenceSituationMama' value='mama'<%= locals.oldData && oldData.coexistenceSituation == 'mama' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Mamá</strong></p></div>
                    </div>
              
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' class='coexistenceSituation' id='coexistenceSituationTio' value='tio'<%= locals.oldData && oldData.coexistenceSituation == 'tio' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Tío/a</strong></p></div>
                    </div>
              
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' class='coexistenceSituation' id='coexistenceSituationAbuelo' value='abuelo'<%= locals.oldData && oldData.coexistenceSituation == 'abuelo' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Abuelo/a </strong></p></div>
                    </div>
              
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' class='coexistenceSituation' id='coexistenceSituationConyuge' value='conyuge'<%= locals.oldData && oldData.coexistenceSituation == 'conyuge' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Cónyuge</strong></p></div>
                    </div>
              
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' class='coexistenceSituation' id='coexistenceSituationHijo' value='hijo'<%= locals.oldData && oldData.coexistenceSituation == 'hijo' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Hijo/s</strong></p></div>
                    </div>
              
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' class='coexistenceSituation' id='coexistenceSituationSolo' value='solo'<%= locals.oldData && oldData.coexistenceSituation == 'solo' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Solo/a</strong></p></div>
                    </div>
              
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' class='coexistenceSituation' id='coexistenceSituationOtro' value='otro'<%= locals.oldData && oldData.coexistenceSituation == 'otro' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Otro</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="coexistenceSituationErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.coexistenceSituation) { %>
                      <samp class="textDanger">
                      <%= errors.coexistenceSituation.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>

                <!--HIJOS-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Tiene hijos?</h4>
                  </div>
              
                  <div class='insideLabelRow'>
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='isChildren' class='isChildren' id='isChildrenSi' onclick="isChecked()" value='si'<%= locals.oldData && oldData.isChildren == 'si' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>Sí</strong></p></div>
                    </div>
              
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='isChildren' class='isChildren' id='isChildrenNo' value='no'<%= locals.oldData && oldData.isChildren == 'no' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>No</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="isChildrenErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.isChildren) { %>
                      <samp class="textDanger">
                      <%= errors.isChildren.msg %>
                      </samp>
                    <% } %>
                  </div>
              
                  <div class='text'>
                    <input type='number' name='numberChildren' id='numberChildren' placeholder="¿Cuantos?" value=''>
                    
                    <div class="textDanger" id="numberChildrenErr"></div>
                  </div>
                  
                  
                  <div class='text'>
                    <input type='number' name='isChildrenAttendChurch' id='isChildrenAttendChurch' placeholder="¿Cuantos asisten a la iglesia?" value=''>
                    <div class="textDanger" id="isChildrenAttendChurchErr"></div>
                  </div>
                </div>

                <!--ACLARACION-->
                <div class="explanatory">
                  <h4>Los siguientes items son solo efecto de identificar la familia conviviente</h4>
                </div>
                
                <!--JEFE/A DE HOGAR-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Eres jefe/a de hogar?</h4>
                    
                  </div>
              
                  <div class='insideLabelRow'>
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='isBoss' class='isBoss' id='isBossSi' value='si'<%= locals.oldData && oldData.isBoss == 'si' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>Sí</strong></p></div>
                    </div>
              
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='isBoss' class='isBoss' id='isBossNo' value='no'<%= locals.oldData && oldData.isBoss == 'no' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>No</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="isBossErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.isBoss) { %>
                      <samp class="textDanger">
                      <%= errors.isBoss.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
                
                <!--PAREJA JEFE/A DE HOGAR-->
                <div class='mark' id='coupleBossDiv'>
                  <div class='paragrph'>
                    <h4>¿Tu pareja asiste a la iglesia?</h4>
                  </div>
              
                  <div class='insideLabelRow'>
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='coupleBoss' class='coupleBoss' id='coupleBossSi' value='si'<%= locals.oldData && oldData.coupleBoss == 'si' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>Sí</strong></p></div>
                    </div>
              
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' name='coupleBoss' class='coupleBoss' id='coupleBossNo' value='no'<%= locals.oldData && oldData.christianCouple == 'no' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>No</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="coupleBossErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.coupleBoss) { %>
                      <samp class="textDanger">
                      <%= errors.coupleBoss.msg %>
                      </samp>
                    <% } %>
                  </div>
              
                  <div class='text'>
                    <input type='text' name='nameCouple' id='nameCouple' placeholder="Nombre pareja" value=''>
                    
                    <div class="textDanger" id="nameCoupleErr"></div>
                  </div>
                  <div class='text'>
                    <input type='text' name='lastNameCouple' id='lastNameCouple' placeholder="Apellido pareja" value=''>
                    
                    <div class="textDanger" id="lastNameCoupleErr"></div>
                  </div>
                </div>

                <!--QUIEN ES SU JEFE/A DE HOGAR-->
                <div class='mark' id="whoBossDiv">
                  <div class='paragrph'>
                    <h4>¿Quien es el jefe/a de familia?</h4>
                  </div>

                  <div class='text'>
                    <input type='text' name='whoBossName' id='whoBossName' placeholder="Nombre" value=''>
                    
                    <div class="textDanger" id="whoBossNameErr"></div>
                  </div>
                  <div class='text'>
                    <input type='text' name='whoBossLastName' id='whoBossLastName' placeholder="Apellido" value=''>
                    
                    <div class="textDanger" id="whoBossLastNameErr"></div>
                  </div>
                </div>

                <!--ADELANTE/ATRÁS-->
                <div class='btnBox'>
                  <div class='btn' id='btnFamilyBack'>
                    <a href="#modalPersonal"><h3>ATRÁS</h3></a>
                  </div>
                
                  <div class='btn' id='btnFamilyContinue'>
                    <a href="#modalResidency"><h3>CONTINUAR</h3></a>
                  </div>
                </div>
              
              </section>
              
            </div>
          </div>
        </div>  

<!------------------------------ SECTION 3 RESIDENCY ------------------------------>
        <!--CONTENIDO MODAL RESIDENCY-->
        <div class="modalResidency" id="modalResidency">
          <div class="contenedorResidency">
            <article class="header">
              <h2 class="encabezadoPersonal">Actualización de datos</h2>
              <img src="/images/header3.png" alt="header3">
            </article>
            <div class="contenidoResidency">
              
              <!--SECTION-->
              <section class='residency' id='residency'>

                <h2>Recidencia</h2>
                                    
                <!--PAIS-->
                <div class='text'>
                  <input type='text' name='country' id='country' class= 'inputText' placeholder='País'  maxlength='50' value='<%= locals.oldData ? oldData.country : null %>'>
                  
                  <div class="textDanger" id="countryErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.country) { %>
                      <samp class="textDanger">
                      <%= errors.country.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
                                    
                <!--PROVINCIA-->
                <div class='text'>
                  <input type='text' name='state' id='state' class= 'inputText' placeholder='Provincia'  maxlength='50' value='<%= locals.oldData ? oldData.state : null %>'>
                  
                  <div class="textDanger" id="stateErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.state) { %>
                      <samp class="textDanger">
                      <%= errors.state.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
                                    
                <!--DEPARTAMENTO-->
                <div class='text'>
                  <input type='text' name='city' id='city' class= 'inputText' placeholder='Departamento'  maxlength='50' value='<%= locals.oldData ? oldData.city : null %>'>
                  
                  <div class="textDanger" id="cityErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.city) { %>
                      <samp class="textDanger">
                      <%= errors.city.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div> 

                <!--LOCALIDAD-->
                <div class='text'>
                  <input type='text' name='location' id='location' class= 'inputText' placeholder='Localidad (opcional)' maxlength='50' value=''>
                  
                  <div class="textDanger" id="locationErr"></div>
                </div>

                <!--CALLE-->
                <div class='text'>
                  <input type='text' name='street' id='street' class= 'inputText' placeholder='Calle'  maxlength='50' value='<%= locals.oldData ? oldData.street : null %>'>
                  
                  <div class="textDanger" id="streetErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.street) { %>
                      <samp class="textDanger">
                      <%= errors.street.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
      
                <!--NUEMRACION-->
                <div class='text'>
                  <input type='number' name='numeration' id='numeration' class= 'inputText' placeholder='Numeración'  maxlength='50' value='<%= locals.oldData ? oldData.numeration : null %>'>
                  
                  <div class="textDanger" id="numerationErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.numeration) { %>
                      <samp class="textDanger">
                      <%= errors.numeration.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
                    
                <!--ACLARACION-->
                <div class='text'>
                  <input type='text' name='secondLine' id='secondLine' class= 'inputText' placeholder='A tener en cuenta'  maxlength='200'>
                  
                  <div class="textDanger" id="secondLineErr"></div>
                </div>
      
                <!--BARRIO-->
                <div class='text'>                  
                  <input type='text' name='neighborhood' id='neighborhood' class= 'inputText' placeholder='Barrio (opcional)'  maxlength='50' value=''>
                  
                  <div class="textDanger" id="neighborhoodErr"></div>
                </div>
      
                <!--MANZANA-->
                <div class='text'>                  
                  <input type='text' name='neighborhoodBlock' id='neighborhoodBlock' class= 'inputText' placeholder='Manzana (si corresponde)' maxlength='50' value=''>
                  
                  <div class="textDanger" id="neighborhoodBlockErr"></div>
                </div>
      
                <!--CASA-->
                <div class='text'>                  
                  <input type='text' name='houseNumber' id='houseNumber' class= 'inputText' placeholder='Casa (si corresponde)' maxlength='50' value=''>
                  
                  <div class="textDanger" id="houseNumberErr"></div>
                </div>
      
                <!--CODIGO POSTAL-->
                <div class='text'>
                  <input type='text' name='postalCode' id='postalCode' class= 'inputText' placeholder='Código postal'  maxlength='50' value='<%= locals.oldData ? oldData.postalCode : null %>'>
                  
                  <div class="textDanger" id="postalCodeErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.postalCode) { %>
                      <samp class="textDanger">
                      <%= errors.postalCode.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>

                <!--ADELANTE/ATRÁS-->
                <div class='btnBox'>
                  <div class='btn' id='btnResidencyBack'>
                    <a href="#modalFamily"><h3>ATRÁS</h3></a>
                  </div>

                  <div class='btn' id='btnResidencyContinue'>
                    <a href="#modalContact"><h3>CONTINUAR</h3></a>
                  </div>
                </div>

              </section>
              
            </div>
          </div>
        </div>
        
<!------------------------------ SECTION 4 CONTACT ------------------------------>
        <!--CONTENIDO MODAL CONTACT-->
        <div class="modalContact" id="modalContact">
          <div class="contenedorContact">
            <article class="header">
              <h2 class="encabezadoPersonal">Actualización de datos</h2>
              <img src="/images/header4.png" alt="header4">
            </article>
            <div class="contenidoContact">
              
              <!--SECTION-->
              <section class='contact' id='contact'>

                <h2>Contacto</h2>
      
                <!--CELULAR-->
                <div class='text'>
                  <input type='number' name='valueContact' id='valueContact' class= 'inputText' placeholder='Telefono celular'  maxlength='50' value="<%= locals.oldData ? oldData.valueContact : null %>">
                  
                  <div class="textDanger" id="valueContactErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.valueContact) { %>
                      <samp class="textDanger">
                      <%= errors.valueContact.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
      
                <!--FIJO-->
                <div class='text'>
                  <input type="number" name='fijo' id='fijo' class= 'inputText' placeholder='Fijo (opcional)' maxlength='50' value="">
                </div>
      
                <!--CORREO-->
                <div class='text'>
                  <input type="email" name="email" id="email" class= "inputText"  placeholder='Email'  minlength="5" maxlength="50" value="<%= locals.oldData ? oldData.email : null %>">
                
                  <div class="textDanger" id="emailErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.email) { %>
                      <samp class="textDanger">
                      <%= errors.email.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
      
                <!--REDES-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Que redes sociales usas?</h4>
                  </div>
      
                  <div class='insideLabelColumn'>
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-YouVersion' value='YouVersion' <%= locals.oldData && oldData.webSite == 'YouVersion' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>YouVersion</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Facebook' value='Facebook' <%= locals.oldData && oldData.webSite == 'Facebook' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Facebook</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Instagram' value='Instagram' <%= locals.oldData && oldData.webSite == 'Instagram' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Instagram</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-YouTube' value='YouTube' <%= locals.oldData && oldData.webSite == 'YouTube' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>YouTube</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Tik' value='Tik' <%= locals.oldData && oldData.webSite == 'Tik' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Tik Tok</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Spotify' value='Spotify' <%= locals.oldData && oldData.webSite == 'Spotify' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Spotify</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-WhatsApp' value='WhatsApp' <%= locals.oldData && oldData.webSite == 'WhatsApp' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>WhatsApp</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Telegram' value='Telegram' <%= locals.oldData && oldData.webSite == 'Telegram' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Telegram</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Twitter' value='Twitter' <%= locals.oldData && oldData.webSite == 'Twitter' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Twitter</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Twitch' value='Twitch' <%= locals.oldData && oldData.webSite == 'Twitch' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Twitch</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Discord' value='Discord' <%= locals.oldData && oldData.webSite == 'Discord' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Discord</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Pinterest' value='Pinterest' <%= locals.oldData && oldData.webSite == 'Pinterest' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Pinterest</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-LinkedIn' value='LinkedIn' <%= locals.oldData && oldData.webSite == 'LinkedIn' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>LinkedIn</strong></p></div> 
                    </div>
      
                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Slack' value='Slack' <%= locals.oldData && oldData.webSite == 'Slack' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Slack</strong></p></div> 
                    </div>    

                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Otra' value='Otra' <%= locals.oldData && oldData.webSite == 'Otra' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>Otra</strong></p></div> 
                    </div>

                    <div class='inputColumn'>
                      <div class="radiobutton"><input type='checkbox' class="webSite" name='webSite' id='webSite-Ninguna' value='Ninguna' <%= locals.oldData && oldData.webSite == 'Ninguna' ? "checked" : null %>></div>
                      <div class='checkLabel'><p><strong>N/C</strong></p></div> 
                    </div>
                  </div>

                  <div class="textDanger" id="webSiteErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.webSite) { %>
                      <samp class="textDanger">
                      <%= errors.webSite.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
      
                <!--ADELANTE/ATRÁS-->
                <div class='btnBox'>
                  <div class='btn' id='btnContactBack'>
                    <a href="#modalResidency"><h3>ATRÁS</h3></a>
                  </div>

                  <div class='btn' id='btnContactContinue'>
                    <a href="#modalGrownup"><h3>CONTINUAR</h3></a>
                  </div>
                </div>

              </section>
              
            </div>
          </div>
        </div>

<!------------------------------ SECTION 5 GROWNUP ------------------------------>
        <!--CONTENIDO MODAL GROWNUP-->
        <div class="modalGrownup" id="modalGrownup">
          <div class="contenedorGrownup">
            <article class="header">
              <h2 class="encabezadoPersonal">Actualización de datos</h2>
              <img src="/images/header5.png" alt="header5">
            </article>
            <div class="contenidoGrownup">
              
              <!--SECTION-->
              <section class='grownup' id='grownup'>

                <h2>Crecimiento Cristiano</h2>
                <!--TIPO DE ASISTENCIA-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿De qué manera vivís los encuentros cada fin de semana?</h4>
                  </div>
      
                  <div class='insideLabelColumn'>
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='radio' class="liveChurch" name='liveChurch'  id='liveChurchPresesnce' value='liveChurchPresesnce'<%= locals.oldData && oldData.liveChurch == 'liveChurchPresesnce' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Presencial</strong></p></div>
                    </div>
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='radio' class="liveChurch" name='liveChurch' id='liveChurchVirtual' value='liveChurchVirtual'<%= locals.oldData && oldData.liveChurch == 'liveChurchVirtual' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Virtual</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="liveChurchErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.liveChurch) { %>
                      <samp class="textDanger">
                      <%= errors.liveChurch.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
                
                <!--TIEMPO DE ASISTENCIA-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Desde cuándo asistís a la Alameda (presidencial o virtual)?</h4>
                  </div>
      
                  <div class='insideLabelColumn'>
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='radio' class='timeChurch' name='timeChurch' id='timeChurch-0' value='timeChurch-0'<%= locals.oldData && oldData.timeChurch == 'timeChurch-0' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>6 meses o menos</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Menos de 6 meses</strong></p></div>
                    </div>
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='radio' class='timeChurch' name='timeChurch' id='timeChurch-6-1' value='timeChurch-6-1'<%= locals.oldData && oldData.timeChurch == 'timeChurch-6-1' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>1 año o menos</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Entre 6 meses a 1 año</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='radio' class='timeChurch' name='timeChurch' id='timeChurch-1-5' value='timeChurch-1-5'<%= locals.oldData && oldData.timeChurch == 'timeChurch-1-5' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>5 años o menos</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Entre 1 año a 5 años</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='radio' class='timeChurch' name='timeChurch' id='timeChurch-5-0' value='timeChurch-5-0'<%= locals.oldData && oldData.timeChurch == 'timeChurch-5-0' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>5 años o más</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Más de 5 años</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="timeChurchErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.timeChurch) { %>
                      <samp class="textDanger">
                      <%= errors.timeChurch.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
                      
                <!--EXPERIENCIAS COMPLETADAS-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>Marca las experiencias completadas</h4>
                  </div>
      
                  <div class='insideLabelColumn'>
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-nuevoInicio' value='nuevoInicio'<%= locals.oldData && oldData.churchExperiences == 'nuevoInicio' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Nuevo Inicio</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Nuevo Inicio con Dios</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-bautismo' value='bautismo'<%= locals.oldData && oldData.churchExperiences == 'bautismo' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Bautismo</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-paso1' value='paso1'<%= locals.oldData && oldData.churchExperiences == 'paso1' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Paso 1-Miembro</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Paso 1-Charla de nuevos Miembros</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-paso2' value='paso2'<%= locals.oldData && oldData.churchExperiences == 'paso2' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Paso 2-Forma</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Paso 2-Descubre tu Forma</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-paso3' value='paso3'<%= locals.oldData && oldData.churchExperiences == 'paso3' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Paso 3-Madrez</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Paso 3-Adopta Hábitos de Madurez</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-paso4' value='paso4'<%= locals.oldData && oldData.churchExperiences == 'paso4' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Paso 4-Voluntario</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Paso 4-Voluntariado inicial</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-vidaDiscipular1' value='vidaDiscipular1'<%= locals.oldData && oldData.churchExperiences == 'vidaDiscipular1' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Vida 1</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Vida Discipular 1</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-vidaDiscipular2' value='vidaDiscipular2'<%= locals.oldData && oldData.churchExperiences == 'vidaDiscipular2' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Vida 2</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Vida Discipular 2</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-vidaDiscipular3' value='vidaDiscipular3'<%= locals.oldData && oldData.churchExperiences == 'vidaDiscipular3' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Vida 3</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Vida Discipular 3</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-vidaDiscipular4' value='vidaDiscipular4'<%= locals.oldData && oldData.churchExperiences == 'vidaDiscipular4' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Vida 4</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Vida Discipular 4</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-seaLibre' value='seaLibre'<%= locals.oldData && oldData.churchExperiences == 'seaLibre' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Sea Libre</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-fundamentos' value='fundamentos'<%= locals.oldData && oldData.churchExperiences == 'fundamentos' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Fundamentos</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-celebremos' value='celebremos'<%= locals.oldData && oldData.churchExperiences == 'celebremos' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Celebremos</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Celebremos la Recuperación</strong></p></div>
                    </div>

                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-sdl' value='sdl'<%= locals.oldData && oldData.churchExperiences == 'sdl' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>S.D.L.</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-ninguno' value='ninguno'<%= locals.oldData && oldData.churchExperiences == 'ninguno' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>N/C</strong></p></div>
                    </div>

                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="churchExperiences" name='churchExperiences' id='churchExperiences-otro' value='otro'<%= locals.oldData && oldData.churchExperiences == 'otro' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Otros</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="churchExperiencesErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.churchExperiences) { %>
                      <samp class="textDanger">
                      <%= errors.churchExperiences.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
                               
                <!--SERVICIOS USADOS-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>Servicios que has utilizados</h4>
                  </div>
      
                  <div class='insideLabelColumn'>
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-cafeteria' value='cafeteria'<%= locals.oldData && oldData.servicesUsed == 'cafeteria' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Cafetería</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-camping' value='camping'<%= locals.oldData && oldData.servicesUsed == 'camping' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Camping</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-escuela-musica' value='escuela-musica'<%= locals.oldData && oldData.servicesUsed == 'escuela-musica' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Escuela de Música</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-escuela-danza' value='escuela-danza'<%= locals.oldData && oldData.servicesUsed == 'escuela-danza' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Escuela de Danza</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-casa-mujer' value='casa-mujer'<%= locals.oldData && oldData.servicesUsed == 'casa-mujer' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Casa de la Mujer</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-jardín' value='jardín'<%= locals.oldData && oldData.servicesUsed == 'jardín' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Jardín Maternal</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-acasa' value='acasa'<%= locals.oldData && oldData.servicesUsed == 'acasa' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>ACASA</strong></p></div>
                    </div>

                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-NC' value='ninguno'<%= locals.oldData && oldData.servicesUsed == 'ninguno' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>N/C</strong></p></div>
                    </div>

                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="servicesUsed" name='servicesUsed'  id='servicesUsed-otro' value='otro'<%= locals.oldData && oldData.servicesUsed == 'otro' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Otro</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="servicesUsedErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.servicesUsed) { %>
                      <samp class="textDanger">
                      <%= errors.servicesUsed.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
      
                <!--ADELANTE/ATRÁS-->
                <div class='btnBox'>
                  <div class='btn' id='btnGrownupBack'>
                    <a href="#modalContact"><h3>ATRÁS</h3></a>
                  </div>

                  <div class='btn' id='btnGrownupContinue'>
                    <a href="#modalSmallGroup"><h3>CONTINUAR</h3></a>
                  </div>
                </div>
      
              </section>
            </div>
          </div>
        </div>

<!------------------------------ SECTION 6 SMALL GORUP ------------------------------>
        <!--CONTENIDO MODAL SMALL GORUP-->
        <div class="modalSmallGroup" id="modalSmallGroup">
          <div class="contenedorSmallGroup">
            <article class="header">
              <h2 class="encabezadoPersonal">Actualización de datos</h2>
              <img src="/images/header7.png" alt="header7">
            </article>
            <div class="contenidoSmallGroup">
              
              <!--SECTION-->
              <section class='smallGroup' id='smallGroup'>

                <h2>Grupo pequeño</h2>
      
                <!--VA A UN GP?-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Asistes a un Grupo pequeño?</h4>
                  </div>
      
                  <div class='insideLabelRow'>
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' class="isParticipateSmallGroup" name='isParticipateSmallGroup' id='isParticipateSmallGroupSi' value='si'<%= locals.oldData && oldData.isParticipateSmallGroup == 'si' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>Sí</strong></p></div>
                    </div>
                    
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' class="isParticipateSmallGroup" name='isParticipateSmallGroup' id='isParticipateSmallGroupNo' value='no'<%= locals.oldData && oldData.isParticipateSmallGroup == 'no' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>No</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="isParticipateSmallGroupErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.isParticipateSmallGroup) { %>
                      <samp class="textDanger">
                      <%= errors.isParticipateSmallGroup.msg %>
                      </samp>
                    <% } %>
                  </div>

                  <div class='text'>
                    <input type='text' name='smallGroupGuide' id='smallGroupGuide' class= 'inputText' placeholder="Nombre guía" maxlength='50' value="<%= locals.oldData ? oldData.name : null %>">
                  
                    <div class="textDanger" id="smallGroupGuideErr"></div>
                    <div class="error">
                      <h4 class="textDanger" id="titleError"></h4>
                      <% if(locals.errors && errors.smallGroupGuide) { %>
                        <samp class="textDanger">
                        <%= errors.smallGroupGuide.msg %>
                        </samp>
                      <% } %>
                    </div>
                  </div>
                  <div class='text'>
                    <input type='text' name='smallGroupName' id='smallGroupName' class= 'inputText' placeholder="Nombre grupo (opcional)" maxlength='50' value="<%= locals.oldData ? oldData.name : null %>">
                    
                    <div class="textDanger" id="smallGroupNameErr"></div>
                  </div>
                </div>
      
                <!--QUE LE GUSTA?-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Qué disfrutás del grupo pequeño?</h4>
                  </div>
                  
                  <div class='insideLabelColumn'>
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="enjoyMost" name='enjoyMost' id='enjoyMost-compañía' value='compañia'<%= locals.oldData && oldData.enjoyMost == 'compañia' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Compañía</strong></p></div>
                    </div>
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="enjoyMost" name='enjoyMost' id='enjoyMost-amistad' value='amistad'<%= locals.oldData && oldData.enjoyMost == 'amistad' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Amistad</strong></p></div>
                    </div>
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="enjoyMost" name='enjoyMost' id='enjoyMost-comida' value='comida'<%= locals.oldData && oldData.enjoyMost == 'comida' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Comida</strong></p></div>
                    </div>
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="enjoyMost" name='enjoyMost' id='enjoyMost-oración' value='oración'<%= locals.oldData && oldData.enjoyMost == 'oración' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Oración</strong></p></div>
                    </div>
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="enjoyMost" name='enjoyMost' id='enjoyMost-aprender' value='aprender'<%= locals.oldData && oldData.enjoyMost == 'aprender' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>La Biblia</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Aprender de la Biblia</strong></p></div>
                    </div>
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="enjoyMost" name='enjoyMost' id='enjoyMost-otros' value='otros'<%= locals.oldData && oldData.enjoyMost == 'otros' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Otros</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="enjoyMostErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.enjoyMost) { %>
                      <samp class="textDanger">
                      <%= errors.enjoyMost.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
      
                <!--AREA DE INTERES-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Cuál es tu área de interés?</h4>
                  </div>

                  <div class='insideLabelColumn'>
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-relaciones' value='relaciones'<%= locals.oldData && oldData.yourAreaInterest == 'relaciones' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Relaciones</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-biblia' value='biblia'<%= locals.oldData && oldData.yourAreaInterest == 'biblia' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>La Biblia</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Conocer más la Biblia</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-miProposito' value='proposito'<%= locals.oldData && oldData.yourAreaInterest == 'proposito' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Mi propósito</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Descubrir mi propósito</strong></p></div>
                    </div>
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-servir' value='servir'<%= locals.oldData && oldData.yourAreaInterest == 'servir' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Servir</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-habitos' value='habitoss'<%= locals.oldData && oldData.yourAreaInterest == 'habitoss' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Hábitos</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Desarrollar hábitos saludables</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-esparcimiento' value='esparcimiento'<%= locals.oldData && oldData.yourAreaInterest == 'esparcimiento' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Esparcimiento</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-diversion' value='diversion'<%= locals.oldData && oldData.yourAreaInterest == 'diversion' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Diversión</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-comunion' value='comunion'<%= locals.oldData && oldData.yourAreaInterest == 'comunion' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Comunión</strong></p></div>
                    </div>
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourAreaInterest" name='yourAreaInterest' id='yourAreaInterest-otros' value='otros'<%= locals.oldData && oldData.yourAreaInterest == 'otros' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Otros</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="yourAreaInterestErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.yourAreaInterest) { %>
                      <samp class="textDanger">
                      <%= errors.yourAreaInterest.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
                
                <!--NECESIDADES-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Cuáles son tus necesidades?</h4>
                  </div>
      
                  <div class='insideLabelColumn'>
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-salud' value='salud'<%= locals.oldData && oldData.yourNeeds == 'salud' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Salud</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Problemas de salud</strong></p></div>
                    </div>
                          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-economia' value='economia'<%= locals.oldData && oldData.yourNeeds == 'economia' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Economía</strong></p></div>
                    </div>    
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-familia' value='familia'<%= locals.oldData && oldData.yourNeeds == 'familia' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Familia</strong></p></div>
                    </div>    
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-oracion' value='oracion'<%= locals.oldData && oldData.yourNeeds == 'oracion' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Oración</strong></p></div>
                    </div> 
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-adicciones' value='adicciones'<%= locals.oldData && oldData.yourNeeds == 'adicciones' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Adicciones</strong></p></div>
                    </div> 
                              
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-equilibrioEmocional' value='equilibrioEmocional'<%= locals.oldData && oldData.yourNeeds == 'equilibrioEmocional' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Equilibrio emocional</strong></p></div>
                    </div>    
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-controlEmociones' value='controlEmociones'<%= locals.oldData && oldData.yourNeeds == 'controlEmociones' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Control de emociones</strong></p></div>
                    </div>    
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-soledad' value='soledad'<%= locals.oldData && oldData.yourNeeds == 'soledad' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Soledad</strong></p></div>
                    </div>    
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-crianza' value='crianza'<%= locals.oldData && oldData.yourNeeds == 'crianza' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Crianza</strong></p></div>
                    </div>    
      
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-matrimonial' value='matrimonial'<%= locals.oldData && oldData.yourNeeds == 'matrimonial' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Matrimonial</strong></p></div>
                    </div>    
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-laboral' value='laboral'<%= locals.oldData && oldData.yourNeeds == 'laboral' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Laboral</strong></p></div>
                    </div>    
                    
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-legal' value='legal'<%= locals.oldData && oldData.yourNeeds == 'legal' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Legal</strong></p></div>
                    </div> 
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-sexual' value='sxual'<%= locals.oldData && oldData.yourNeeds == 'sxual' ? "checked" : null %>></div>
                      <div class="checkLabel short"><p><strong>Sexualidad</strong></p></div>
                      <div class="checkLabel longer"><p><strong>Identidad sexual</strong></p></div>
                    </div> 
          
                    <div class="inputColumn">
                      <div class="radiobutton"><input type='checkbox' class="yourNeeds" name='yourNeeds' id='yourNeeds-otor' value='otro'<%= locals.oldData && oldData.yourNeeds == 'otro' ? "checked" : null %>></div>
                      <div class="checkLabel"><p><strong>Otro</strong></p></div>
                    </div> 
                  </div>

                  <div class="textDanger" id="yourNeedsErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.yourNeeds) { %>
                      <samp class="textDanger">
                      <%= errors.yourNeeds.msg %>
                      </samp>
                    <% } %>
                  </div>
                </div>
            
                <!--ADELANTE/ATRÁS-->
                <div class='btnBox'>
                  <div class='btn' id='btnSmallGroupBack'>
                    <a href="#modalGrownup"><h3>ATRÁS</h3></a>
                  </div>

                  <div class='btn' id='btnSmallGroupContinue'>
                    <a href="#modalVocation"><h3>CONTINUAR</h3></a>
                  </div>
                </div>
      
              </section>

            </div>
          </div>
        </div>
        
<!------------------------------ SECTION 7 VOCATION ------------------------------>
        <!--CONTENIDO MODAL VOCATION-->
        <div class="modalVocation" id="modalVocation">
          <div class="contenedorVocation">
            <article class="header">
              <h2 class="encabezadoPersonal">Actualización de datos</h2>
              <img src="/images/header7.png" alt="header7">
            </article>
            <div class="contenidoVocation">
              
              <!--SECTION-->
              <section class='vocation' id='vocation'>
          
                <h2>Vocacion</h2>
      
                <!--ES VOLUNTARIO?-->
                <div class='mark'>
                  <div class='paragrph'>
                    <h4>¿Sirves como voluntario en la iglesia?</h4>
                  </div>
      
                  <div class='insideLabelRow'>
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' class="servicesChurch" name='servicesChurch' id='servicesChurchSi'  value='si'<%= locals.oldData && oldData.servicesChurch == 'si' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>Sí</strong></p></div>
                    </div>
          
                    <div class="inputRow">
                      <div class="radiobutton"><input type='radio' class="servicesChurch" name='servicesChurch' id='servicesChurchNo'  value='no'<%= locals.oldData && oldData.servicesChurch == 'no' ? "checked" : null %>></div>
                      <div class="checkLabelRow"><p><strong>No</strong></p></div>
                    </div>
                  </div>

                  <div class="textDanger" id="servicesChurchErr"></div>
                  <div class="error">
                    <h4 class="textDanger" id="titleError"></h4>
                    <% if(locals.errors && errors.servicesChurch) { %>
                      <samp class="textDanger">
                      <%= errors.servicesChurch.msg %>
                      </samp>
                    <% } %>
                  </div>
                  
                  <div class='text'>
                    <input type='text' name='areaServices' id='areaServices' placeholder="Área de servicio" class= 'inputText' maxlength='60' value="">
                    <div class="textDanger" id="areaServicesErr"></div>
                  </div>
                  <div class='text'>
                    <input type='text' name='areaServices2' id='areaServices2' placeholder="Área de servicio" class= 'inputText' maxlength='60' value="">
                    <div class="textDanger" id="areaServices2Err"></div>
                  </div>
                  <div class='text'>
                    <input type='text' name='areaServices3' id='areaServices3' placeholder="Área de servicio" class= 'inputText' maxlength='60' value="">
                    <div class="textDanger" id="areaServices3Err"></div>
                  </div>
                </div>
      
                <!--PROFESION-->
                <div class='text'>
                  <input type='text' name='profession' id='profession' class= 'inputText' placeholder="Profesión/Oficio/Labor" maxlength='60' value="">
                  <div class="textDanger" id="professionErr"></div>
                </div>
      
                <!--ULTIMO TRABAJO-->
                <div class='text'>
                  <input type='text' name='lastJob' id='lastJob' class= 'inputText' placeholder ="Último trabajo" maxlength='60' value="">
                  <div class="textDanger" id="lastJobErr"></div>
                </div>
                
                <!--HABILIDADES ARTISTICAS-->
                <div class='text'>
                  <input type='text' name='artist' id='artist' class= 'inputText' placeholder="Habilidades artísticas" maxlength='60' value="">
                  <div class="textDanger" id="artistErr"></div>
                </div>
      
                <!--ADELANTE/ATRÁS-->
                <div class='btnBox'>
                  <div class='btn' id='btnVocationBack'>
                    <a href="#modalSmallGroup"><h3>ATRÁS</h3></a>
                  </div>
                  
                  <div class='btn' id='btnVocationContinue'>
                    <a href="#modalPhoto"><h3>CONTINUAR</h3></a>
                  </div>
                </div>
      
              </section>

            </div>
          </div>
        </div>
<!------------------------------ SECTION 8 PHOTO ------------------------------>
        <!--CONTENIDO MODAL PHOTO-->
        <div class="modalPhoto" id="modalPhoto">
          <div class="contenedorPhoto">
            <article class="header">
              <h2 class="encabezadoPersonal">Actualización de datos</h2>
              <img src="/images/header7.png" alt="header7">
            </article>
            <div class="contenidoPhoto">
                      
              <!--SECTION-->
              <section class='photo' id='photo'>

                <div class="photoBox">
                  <div class='paragrphBlue'>
                    <h4>¡Sumá tu foto al mural de miAlameda!</h4>
                  </div>
      
                  <div class="dotedBox">
                    
                    <h2 class='namePhoto' id='namePhoto'></h2>
                    <label class="inputPhotoLabel" for="file"><h4>Toca aquí para abrir la cámara o subir una foto</h4></label>
                    <input class= "inputPhoto" type="file" name="file" id="file">
                    
                    <div class="textDanger" id="fileErr"></div>
                    <div class="error">
                      <h4 class="textDanger" id="titleError"></h4>
                      <% if(locals.errors && errors.file) { %>
                        <samp class="textDanger">
                        <%= errors.file.msg %>
                        </samp>
                      <% } %>
                    </div>
      
                  </div>
                </div>
      
                <!--ADELANTE/ATRÁS-->
                <div class='btnBox'>
                  <div class='btn' id='btnPhotoBack'>
                    <a href="#modalVocation"><h3>ATRÁS</h3></a>
                  </div>
                  <button type="submit" class="btnSubmit" id='submit'>
                    <h3>ENVIAR</h3>
                  </button>
                </div>
      
              </section>

            </div>
          </div>
        </div>

      </form>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
     <!-- SCRIPTS -->
    <script src="/js/apiMembers.js"></script>
  </body>
</html>